.expanded{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Set the desired width percentage */
    height: 75%; /* Set the desired height percentage */
    cursor: zoom-out;
    z-index: 10;
}

.notExpanded{
    width: 75px;
    height: 75px;
    cursor: zoom-in;
}

#repo {
    width: 500px; /* Set a fixed width for each repository box */
    height: 225px; /* Set a fixed height for each repository box */
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px #ffcb94;
    margin-right: 40px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    /* Add other styles as needed */
}

#repo h2 {
    margin-bottom: 5px; /* Adjust the margin between h3 and p elements */
    margin-top: 5px;
}

#repo p {
    margin-bottom: 10px; /* Adjust the margin between p and button elements */
}

#repo button {
    margin-bottom: 8px; /* Adjust the margin below the button */
}

.mainSpace {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds container height */
}

.contentSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
