

<div class="resumeBox" *ngIf="!isMobileView">
  <div class="viewerWrapper">
    <pdf-viewer
      [src]="pdfSource"
      [render-text]="true"
      [zoom]=".8"
      [zoom-scale]= "isMobileView ? 'page-fit' : 'page-width'"
      [original-size]="orignalSize"
      [autoresize]="true"
    ></pdf-viewer>

  </div>

</div>



<div class="resumeBox" *ngIf="isMobileView">
  <div class="viewerWrapper">
    <pdf-viewer
      [src]="pdfSource"
      [render-text]="true"
      [zoom]="zoomLevel"
      [zoom-scale]= "isMobileView ? 'page-fit' : 'page-width'"
      [original-size]="orignalSize"
      [autoresize]="true"
    ></pdf-viewer>
</div>
