

<div class="resumeBox" *ngIf="!isMobileView">
  <div class="viewerWrapper">
    <pdf-viewer
      [src]="pdfSource"
      [render-text]="true"
      [zoom]=".8"
      [zoom-scale]= "isMobileView ? 'page-fit' : 'page-width'"
      [original-size]="orignalSize"
      [autoresize]="true"
    ></pdf-viewer>
    
  </div>
<button id="resume" class="dlButton" (click)="downloadPDF()">
      <a><mat-icon svgIcon="pageDL" style="width: 75px; height: 75px"></mat-icon
      ></a>
    </button>
</div>



<div class="resumeBox" *ngIf="isMobileView">
  <div class="viewerWrapper">
    <pdf-viewer
      [src]="pdfSource"
      [render-text]="true"
      [zoom]="zoomLevel"
      [zoom-scale]= "isMobileView ? 'page-fit' : 'page-width'"
      [original-size]="orignalSize"
      [autoresize]="true"
    ></pdf-viewer>
</div>
