<div class="topnav">
  <a id="Name" routerLink="/">Ayman Taleb</a>
  <div class="navLinks">
    <a routerLink="/contact"><mat-icon>mark_email_unread</mat-icon>Contact</a>
    <a routerLink="/project"><mat-icon>lightbulb_outline</mat-icon>Projects</a>
    <a routerLink="/resume"><mat-icon>description</mat-icon>Resume</a>
    <a routerLink="/home"><mat-icon>home</mat-icon>Home</a>
    <!-- <mat-slide-toggle class="themeSwitch">Slide me!</mat-slide-toggle> -->
  </div>
</div>

<router-outlet></router-outlet>
