<div class="topnav">
  <a id="Name" routerLink="/home">Ayman Taleb</a>
</div>

<div class="mainSpace">
  <div class="contentSpace">
    <div class="aboutContent">
      <h1 id="homePageH1">🚧 Site Under Construction 🚧</h1>
      <div id="pBox">
        <p id="homePageP">
          My website is currently being updated. The site will be back online shortly with new
          content. For inquiries or to view my resume, please contact me at ayman1779@gmail.com. 
          Thank you for your visit! 
        </p>
      </div>
    </div>
  </div>
</div>
