@use '@angular/material' as mat;


@include mat.core();



$custom-palette: mat.define-palette($mat-grey, A200, A100, A400);

$custom-theme: mat.define-light-theme(
  (
    color: (
      background: var(--background-color),
      primary: var(--primary-color),
      accent: var(--secondary-color),
      warn: mat-palette($mat-red),
    )
  )
);

@include mat.all-component-themes($custom-theme);

