<p>home-page works!</p>
<div class="mainSpace">
  <div class="aboutContent">
    <h1 id="homePageH1">About Me</h1>
    <div id="pBox">
      <p id="homePageP">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacus
        massa, cursus hendrerit euismod vitae, aliquet quis ipsum. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Praesent porta, lorem sed
        placerat convallis, felis odio euismod neque, eget molestie dui augue
        sed nisi. Ut vel metus quis nisl varius mattis. Suspendisse ex urna,
        ultricies id imperdiet ac, posuere quis massa. Cras vel dui risus. Proin
        vitae luctus ex. Quisque bibendum, ipsum non porttitor egestas, augue
        tellus euismod sem, et posuere dui sapien vitae augue. Maecenas
        scelerisque consectetur eros. Nunc porta placerat velit ac laoreet.
        Integer luctus arcu vitae sapien dignissim facilisis. Nullam rhoncus
        odio libero, in scelerisque augue maximus nec.
      </p>
    </div>
  </div>
  <div class="circleCrop">
    <img class="rounded" src="assets/headshot.png" alt="aymanHeadshot" />
  </div>
</div>
