<p>home-page works!</p>
<div class="mainSpace">
  <div class="aboutContent">
    <h1 id="homePageH1">About Me</h1>
    <div id="pBox">
      <p id="homePageP">
        Ayman is an eager and passionate Computer Engineer. He recieved his
        degree from UC Irvine in Computer Engineering in 2023 and is constantly
        looking to improve his skillset. He is currently a Software Engineer at
        Charles Schwab where he [placeholder]. During his time at UCI, he was a
        Hardware Engineering Intern for ButterflyMX, an access control system
        and SaaS company. There he researched RFID and BLE access control for
        home and office use as well as tested and manufactured network conected
        elevator controllers.
      </p>
    </div>
  </div>
  <div class="circleCrop">
    <img class="rounded" src="assets/headshot.png" alt="aymanHeadshot" />
  </div>
</div>
