<div class="mainSpace" *ngIf="!isMobileView">
  <div class="contentSpace">
    <div class="aboutContent">
      <h1 id="homePageH1">About Me</h1>
      <div id="pBox">
        <p id="homePageP">
          My name is Ayman Taleb and I'm a passionate Computer Engineer. I
          graduated from UC Irvine with a degree in Computer Engineering in 2023
          and I'm constantly striving to improve my skill set. Currently, I am
          working as a Software Associate at Charles Schwab. When I'm not
          working, I love to engage in personal projects, tinker with electronic
          gadgets, and code handy applications. I believe that personal projects
          are an excellent way to further develop my skills and explore unique
          ideas outside the constraints of my daily work.
          <br />
          <br />
          If you're interested in seeing the projects I've worked on, I
          encourage you to visit my GitHub profile or the Projects page above.
          Feel free to reach out to me, using the Contact page, if any of my projects catch your attention
          or if you have any questions. I'm always open to discussing
          technology, potential collaborations, or any exciting ideas you might
          have!
        </p>
      </div>
    </div>
    <div class="circleCrop">
      <img class="rounded" [src]="headshotImg" alt="aymanHeadshot" (click)="imgClick()"/>
    </div>
  </div>
  <div class="linkSpace">
    <button id="github">
      <a class="socialLink" href="https://github.com/aymantaleb" target="_blank"
        ><mat-icon svgIcon="github" style="width: 75px; height: 75px"></mat-icon
      ></a>
    </button>
    <button id="linkedin">
      <a
        class="socialLink"
        href="https://www.linkedin.com/in/ayman-taleb-4a410a16b/"
        target="_blank"
        ><mat-icon
          svgIcon="linkedin"
          style="width: 65px; height: 65px"
        ></mat-icon
      ></a>
    </button>
  </div>
</div>


<div class="mobileSpace" *ngIf="isMobileView">
  <div class="circleCropMobile">
    <img class="rounded" [src]="headshotImg" alt="aymanHeadshot" (click)="imgClick()" />
  </div>

  <h1 id="homePageH1Mobile">About Me</h1>

  <div id="pBoxMobile">
    <p id="homePagePMobile">
      My name is Ayman Taleb and I'm a passionate Computer Engineer. I
      graduated from UC Irvine with a degree in Computer Engineering in 2023
      and I'm constantly striving to improve my skill set. Currently, I am
      working as a Software Associate at Charles Schwab. When I'm not
      working, I love to engage in personal projects, tinker with electronic
      gadgets, and code handy applications. I believe that personal projects
      are an excellent way to further develop my skills and explore unique
      ideas outside the constraints of my daily work.
      <br />
      <br />
      If you're interested in seeing the projects I've worked on, I
      encourage you to visit my GitHub profile or the Projects page above.
      Feel free to reach out to me, using the Contact page, if any of my projects catch your attention
      or if you have any questions. I'm always open to discussing
      technology, potential collaborations, or any exciting ideas you might
      have!
    </p>
  </div>

  <div class="linkSpace">
    <button id="github">
      <a class="socialLink" href="https://github.com/aymantaleb" target="_blank"
        ><mat-icon svgIcon="github" style="width: 75px; height: 75px"></mat-icon
      ></a>
    </button>
    <button id="linkedin">
      <a
        class="socialLink"
        href="https://www.linkedin.com/in/ayman-taleb-4a410a16b/"
        target="_blank"
        ><mat-icon
          svgIcon="linkedin"
          style="width: 65px; height: 65px"
        ></mat-icon
      ></a>
    </button>
  </div>
</div>