<div class="mainSpace" *ngIf="!isMobileView">
  <div class="contentSpace">
    <h1>Hi! If you would like to connect please send me an email. :) </h1>
    <div id="formBox">
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="name"/>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your email"
          [formControl]="email"
          
          required
        />
        <mat-error *ngIf="email.invalid" style="color: red;">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field id="msgBox">
        <textarea
          matInput
          placeholder="Message"
          style="height: 100%; width: 100%; resize: none;"
          rows="13"
          cols="80"
          [formControl]="message"
          
        ></textarea>
      </mat-form-field>

      <button
        mat-stroked-button
        (click)="formSubmit()"
        style="width: 100px; height: 45px; font-size: 20px"
        [disabled]=" message.invalid || name.invalid || email.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</div>



<div class="mainSpaceMobile" *ngIf="isMobileView">
  <div class="contentSpaceMobile">
    <h1>Hi! If you would like to connect please send me an email. :) </h1>
    <div id="formBoxMobile">
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="name"/>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your email"
          [formControl]="email"
          
          required
        />
        <mat-error *ngIf="email.invalid" style="color: red;">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field id="msgBox">
        <textarea
          matInput
          placeholder="Message"
          style="height: 100%; width: 100%; resize: none;"
          rows="13"
          cols="80"
          [formControl]="message"
          
        ></textarea>
      </mat-form-field>

      <button
        mat-stroked-button
        (click)="formSubmit()"
        style="width: 100px; height: 45px; font-size: 20px"
        [disabled]=" message.invalid || name.invalid || email.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</div>
